iqs-settings-system-groups-panel {
    .iqs-group-item {
        min-height: 68px;
    }
    .iqs-ccapitalize {
        text-transform: capitalize;
    }
    .pip-ref-item.iqs-group-header {
        height: 100px !important;
    }
}